/* google font */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

/* shared style */
* {
    font-family: "Bai Jamjuree";
}

.btn-primary {
    border-radius: 8px;
    background: orangered;
    padding: 20px 25px;
    color: aliceblue;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}

.text-light-gray {
    color: rgb(45, 45, 62);
}

/* header styles */
header {
    background: cornsilk;
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.5rem;
    color: rgb(27, 111, 139);
    ;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1em;
}

nav li a {
    text-decoration: none;
    color: rgb(27, 111, 139);
}

nav li a:hover {
    color: rgb(177, 0, 136);
    font-size: 19px;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 600;
}


.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main section style */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* team style */
.team-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    font-size: 2.4rem;

}

.team-title .quick-list {
    color: gray;
    font-weight: 500;
}

.team-title .text-features {
    color: orangered;
    font-weight: 600;
}

/* feature section style */
.section-title{
    border-left: 5px solid orangered;
    border-radius: 3px;
    font-size: 1.4rem;
    font-weight: 700;
    padding-left: 20px;
}

.features {
    display: flex;
    margin-top: 110px;
    gap: 100px;
}

.feature-contents .card {
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}

.ten-yrs-xp{
    width: 245px;
    text-align: center;
    font-size: 25px;
}

/* facts section */
.facts-headline {
    text-align: center;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid orangered;
    text-align: center;
    font-size: 1.2rem;
    padding: 40px 30px;
}

.facts-card-container .card-stats {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsors styles */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 147px;
}

/* responsive styles */
/* mobile device */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .team-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .team-container,
    .sponsors-img-container {
        flex-direction: column;
    }
}